@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1 {
    font-size: 4rem;
    margin: 2rem;
    font-family: 'Friz Quadrata Regular';
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 5px 10px 20px #000000;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

main {
margin-top: 25vh;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

#buttons {
    width: 100%;
    height: 3rem;
    display: flex;
}

input {
    color:white;
    padding-left:1.5rem;
    padding-right:1.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    outline: none;

}

input::placeholder {
  color: white;
  opacity: 1;
}

input:focus::-webkit-input-placeholder
{
    color: aqua;
}


input:hover{
    border-bottom: .25rem solid;
    border-bottom-color: rgba(255, 255, 255, 1);

}

input:focus {
    color:aqua;
    border-bottom: .25rem solid;
    border-bottom-color: aqua;
}

select {
    background-color: rgba(0, 0, 0, .5);

    border: none;
    outline: none;
    color: white;
}
select:hover{
    border-bottom: .25rem solid;
    border-bottom-color: rgba(255, 255, 255, 1);
    cursor:pointer;
}

select:focus{
    color:aqua;
    border-bottom: .25rem solid;
    border-bottom-color: aqua;
    background-color:rgba(0, 0, 0, .5);
}


button:hover{
    border-bottom: .25rem solid;
    border-bottom-color: rgba(255, 255, 255, 1);
}

button {
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    outline: none;
    color: white;
}

button:active {

    border-bottom: .25rem solid;
    border-bottom-color: aqua;
}
button:focus {

    border-bottom: .25rem solid;
    border-bottom-color: aqua;
}


button:visited {
    outline: none;

}

button:focus {
    outline: none;

}


/* Make the container relative */
.swap-on-hover {
    display:block;
  position: absolute;
	margin:  0 auto;
}

/* Select the image and make it absolute to the container */
.swap-on-hover img {

  position: absolute;
    bottom: -20px;
	/* Sets the width and height for the images*/
    width:2rem;
    height:2rem;
}

.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
/*  transition: opacity .5s linear;*/
  cursor: pointer;
}

.swap-on-hover:active > .swap-on-hover__front-image{
  opacity: 0;
}


