@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1 {
    font-size: 4rem;
    font-family: 'Friz Quadrata Regular';
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 5px 10px 20px #000000;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

main {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.search {
    width: 50%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 80%;
    border: 3px solid #00B4CC;
    /*  border-right: none;*/
    padding: 5px;
    height: 2rem;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    /*  color: red;*/
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 2rem;
    height: 2rem;
    outline: none;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    background-image: url('../images/searchicon.png');
    text-align: center;
    color: 'rgba(0,0,0,0)';
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
}

.searchButton:active{
    outline: none;
}
.searchButton:any-link{
    outline:none;
}


