body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

#championCard{

    text-align: center;
    width:308px;

}

.name{
    margin: 1rem;
    font-size:2rem;
}

.image-cropper {
    text-align: center;
    width: 308px;
    height: 308px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {

    display: inline;
    margin: 0 auto;
   margin-left: auto;
    margin-right: auto;
    /*  height: 100%;*/
    /*  width: auto;*/
}
