*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    border:0px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

#championCard{
    margin: 2rem;
/*    background-color:red;*/
    box-shadow: 28px black;
    text-align: center;
    width:308px;

}

.name{
    margin: 1rem;
    font-size:2rem;
}

.image-cropper {
    width: 308px;
    height: 308px;
/*    margin: none;*/
    overflow: hidden;
    border-radius: 50%;
}

